<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="lenhSanXuat">
      <h2 data-cy="lenhSanXuatDetailsHeading"><span>Lenh San Xuat</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ lenhSanXuat.id }}</span>
        </dd>
        <dt><span>Ma Lenh San Xuat</span></dt>
        <dd>
          <span>{{ lenhSanXuat.maLenhSanXuat }}</span>
        </dd>
        <dt><span>Entry Time</span></dt>
        <dd>
          <span>{{ lenhSanXuat.entryTime }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ lenhSanXuat.status }}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
          <span>{{ lenhSanXuat.comment }}</span>
        </dd>
        <dt><span>Sender</span></dt>
        <dd>
          <span>{{ lenhSanXuat.sender }}</span>
        </dd>
        <dt><span>Approver</span></dt>
        <dd>
          <span>{{ lenhSanXuat.approver }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/lenh-san-xuat', lenhSanXuat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
